body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}
* {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.container{
  width: 1376px;
  margin: 0 auto;
}
.header{
background: linear-gradient(125.39deg, #F8E6C6 26.13%, rgba(242, 224, 190, 0) 93.7%);
}
header, a{
  color: #2D5863;
}
.menu{
  display: flex;
}
.menu li a {
  text-decoration: none;
  font-size: 18px;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
.menu li {
  margin-right: 89px;
}
.nav{
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.logo{
  margin-right: 197px;
font-weight: 900;
font-size: 24px;
letter-spacing: -0.02em;
font-family: 'Work Sans', sans-serif;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.Salutation{
	margin-top: 175px;
	display: flex;
	align-items: center;
	padding-bottom: 140px;
}
.Hello{
	margin-left: 170px;
	margin-bottom: 1px;
}
h3{
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 20px;
	font-weight: 500;
}
.let{
	font-family: 'Montserrat';
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	margin-top: 25px;
	margin-left: 70px;
}
a{
	text-decoration: none;
}
.H{
	font-weight: bold;
}
.im{
	margin-left: 132px;
	width: 60%;
}
.header2{
	display: flex;
}
.Desc-left-hed2{
	background: #FAEBD7;
}
.Desc-right-hed2{
	background: linear-gradient(158.98deg, #2D5863 0.72%, #2A6C7D 86.12%);
}
.myNameD{
margin-top: 52px;
padding-right: 157px;
padding-left: 114px;
}
.myName{
	padding-left: 63px;
font-weight: 900;
font-size: 24px;
letter-spacing: -0.02em;
font-family: 'Work Sans', sans-serif;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menuСontacts{
	margin-top: 38px;
	margin-right: 26px;
}
.menuСontacts li {
  margin-bottom:38px;
}
hr{
	margin-top: 40px;
	border: 1px solid #2D5863;
}
.PMy{
	padding-left: 114px;
	display: block;
}
.p1{
	margin-top: 50px;
	display: inline-block;
	width: 575px;
	margin-bottom: 68px;
}
.p2{
	display: inline-block;
	width: 642px;
}
.Opitim{
	margin-top: 100px;
	margin-left: 105px;
	width: 75%;

}
.Myim{
	margin-left: 170px;
	margin-top: 52px;
	width: 55%;
}
.menufooter{
	display: flex;
	margin-top: 80px;
	margin-left: 193px;
	margin-bottom: 40px;


}
.menufooter li {
	margin-right: 95px;

}
.q{
	display: flex;
}
.Portfolio{
	font-size: 30px;
line-height: 35px;
letter-spacing: -0.02em;
margin-left: 580px;
margin-top: 50px;

color: #F8E6C6;
}
.header3{
	background: linear-gradient(180deg, #428394 0%, #AEB4AC 34.14%, #FAEBD7 100%);
	padding-top: 65px;
}

.footer3{
	background: #043542;
	padding-top: 54px;
}
.centerfooter{
	width: 1376px;
  margin: 0 auto;
}
.menufooterr{
	display:flex;
margin-left: 140px;
}
.menufooterr, ul, li{
	margin-right: 75px;
}

.PortfolioIMGUL{
margin-right: 47px;
margin-top: 90px;
}
.PortfolioIMG{
	margin-left: 120px;
}
.foo{
margin-top: 125px;
margin-bottom: 0;
}
.col{
color: #FAFF00;
font-size: 20px;
padding-right: 50px;
}
.centerfooter{
	display: flex;
	align-items: center;
	width: 1376px;
  margin: 0 auto;
}
.aboutMe{
	display:flex;
	align-items: center;
}

@media screen and (max-width: 1440px) {
	.container,.centerfooter {
		width: 1100px;
	}
	.im{
		margin-left: 132px;
		width: 75%;
	}
	.Opitim {
    margin-left: 45px;
		width: 80%;
}.Myim {
    margin-left: 136px;
		width: 60%;
		margin-top: 25px;
}
.Hello2{
	white-space: nowrap;
}
.nav{
	padding-top: 45px;
	align-items: center;

}
.Salutation {
    margin-top: 175px;
		padding-bottom: 150px;
}
.menufooter{
	margin-top: 100px;
	margin-left: 20px;
}
.myNameD{
	margin-top: 25px;
	padding-left: 15px;
}
.myName {
    padding-left: 165px;
	}
.aboutMe{
	display: flex;
}
.menufooterr, ul, li {
	padding-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}


.menu li {
    margin-right: 0px;
		padding-left: 89px;
}
.menuСontactsinf{
	margin-top: 38px;
	margin-bottom: 10px;
}
hr{
	margin-bottom: 0px;
	margin-top: 10px;

}
.menuСontacts {
    margin-bottom: 0px;
}
.Opitim {
    margin-top: 100px;
    margin-left: 70px;
}
.menufooter {
    margin-top: 80px;
		margin-bottom: 10px;
}
.Portfolio {
    margin-left: 490px;
}
.PortfolioIMG {
    margin-left: 45px;
}
.PortfolioIMGUL {
padding-left:20px;
margin-top: 80px;
margin-right: 0px;
}
.number{
	display: flex;
}
.logo{
	margin-right: 35px;
}
}





@media screen and (max-width: 1200px) {
	.container,.centerfooter{
		width: 1140px;
	}
	.menufooterr {
    margin-left: 0px;
}
.menufooterr, ul, li {
    margin-right: 38px;
}
	.Salutation{
		display: block;
	}
	.container{
	  width: 700px;
	  margin: 0 auto;
	}
	.header2{
		display: block;
		flex-direction: column;
	}
	.Desc-right{
		margin-top: 100px;
	}
	.logo{
		margin-right: 120px;
	}
	.menu li {
    margin-right: 66px;
}
.myNameD {
    margin-top: 0px;
    padding-left: 115px;
}
.menufooter {
    display: flex;
    margin-top: 210px;
    margin-left: 193px;
    margin-bottom: 0px;
}
.Myim {
    margin-left: 375px;
    margin-top: 85px;
}
.Opitim {
    margin-top: 137px;
    margin-left: 330px;
}
.menufooter {
    display: flex;
    margin-top: 210px;
    margin-left: 335px;
    margin-bottom: 0px;
}
}

@media screen and (max-width: 1199px) {
	.container,.centerfooter {
		width: 960px;
	}
	.menu li {
    margin-right: -46px;
}
.logo {
    margin-right: 10px;
}
	.menufooterr, ul, li {
    margin-right: 31px;
}
	.Hello {
    margin-left: 310px;
    margin-bottom: 1px;
}
.menufooter {
    margin-left: 102px;
}
.let {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 235px;
}
.Hello2 {
	margin-left: 140px;
	margin-bottom: 1px;
}
.im {
    margin-left: 240px;
		margin-top: 30px;
		width: 50%;
}
.Myim {
    margin-left: 300px;
    margin-top: 85px;
		width: 45%;
}
.Opitim {
    margin-top: 137px;
    margin-left: 260px;
			width: 50%;
}
.menufooterr, ul, li {
    margin-right: 10px;
}
}

@media screen and (max-width: 991px) {
	.container,.centerfooter {
		width: 720px;
	}
	.Portfolio {
    margin-left: 220px;
}
.myName {
    padding-left: 42px;
}
	.nav {
		display: flex;
    padding-top: 60px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 35px;
}
.menu li {
    margin-right: -52px;
}
.menufooterr, ul, li {
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.Hello2 {
margin-left: 20px;
}
.Hello{
		margin-left: 195px;
	}
	.let {
    margin-left: 120px;
}
.im {
    margin-left: 140px;
	}
	.menufooter {
    margin-left: 50px;
}
.Opitim {
    margin-top: 137px;
    margin-left: 180px;
    width: 60%;
}
.Myim {
    margin-left: 200px;
    margin-top: 85px;
    width: 50%;
}

}

@media screen and (max-width: 767px) {
	.container,.centerfooter {
		width: 540px;
	}
	.menu {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.im {
    margin-left: 50px;
    width: 85%;
}
.Hello {
    margin-left: 59px;
}.Hello2 {
    margin-left: 57px;
}
.PMy {
    padding-left: 114px;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menufooter {
    margin-left: 79px;
}.centerfooter {
    display: flex;
    align-items: center;
    width: 540px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
}

@media screen and (max-width: 575px) {
	.container,.centerfooter {
		width: 100%;
		padding: 0 15px;
	}
	.PortfolioIMG {
  	margin-left: 0px;
}
.PortfolioIMGUL {
    margin-right: 0px;
    margin-top: 90px;
		width: 100%;
}
.Portfolio {
    margin-left: 80px;
}
.Opitim {
    margin-top: 137px;
    margin-left: 70px;
    width: 60%;
}
.Myim {
    margin-left: 60px;
    margin-top: 85px;
    width: 70%;
}
.centerfooter{
	display: block;
}
.number
{
	display: none;
}
.menufooterr, ul, li {
    padding-left: 0px;
		margin: 0;
}
.menu li {
  margin-right: 10px;
}
.menuСontacts{
	padding-left: 0px;
}
.aboutMe,.Desc-left-hed2{
	margin: 0px;
	padding: 0px;
}
.aboutMe{
	display: flex;
	display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.menuСontacts li{
	margin: 0;
	padding: 0;
}
.menuСontactsinf, li{
	margin: 0;
	padding: 0;
}
.Desc-left-hed2{
	padding: 0px;
	margin: 0px;
}
.myNameD {
    margin: 0px;
    padding: 0px;
}
.myName{
	padding: 0;
}
.p1, .p2{
	width: 90%;
}
.PMy{
	padding-left: 10px;
}
.menufooter{
	margin-left: 10px;
}
.menufooter li{
	margin-left: 0px;
	margin-right: 36px
}
.Hello {
    margin-left: 10px;
}
.Hello2, .let {
    margin-left: 10px;
		white-space: normal;
}
.im {
    margin-left: 15px;
    width: 85%;
}
}
